
<header class="main">
    <aside class="main-content">
        <aside class="content">
            <aside class="heading">
              <h3 class="ad">Create new Seller |</h3>
              <p class="head-para">Individual Seller</p>
        </aside>
             <aside class="head-icon">
                <span class="material-icons-outlined">
                    close
                    </span>
             </aside> 
           
    
        </aside>
    
     <aside class="main-box">
        <aside class="content2">
          <aside class="Company">
             <h2 class="Company-head">Company Details</h2>
            </aside>
            <aside class="Company-month">
             <h1 class="month">STEP 2 OF 4</h1>
            </aside>
        </aside>
    
      <aside class="icon-main-box">
      <aside class="drag-pic">
        <h3 class="logo">Upload Profile Photo</h3>
      <aside class="icon-background">
    <aside class="k">
    <img src="../../../assets/propic.png" alt="" class="Company-log">
    </aside>
        </aside> 
      
        <aside class="box-line">
            <p class="box-word">Drag & Drope or Browse </p>
       </aside>
       <p class="max">Max 1MB </p>
      </aside>
      
      </aside>
    
    
    
    <aside class="form">
    <aside class="form1-group">
    <aside class="form-1">
        <label>First Name*</label>
        <input type="text" placeholder="e.g.- Sudhi-">
      </aside>
      <aside class="form-1">
        <label>Last Name*</label>
        <input type="text" placeholder="e.g.-Koppa">
      </aside>
    </aside>
    
    <aside class="form1-group">
      <aside class="form-1">
        <label>Phone Number*</label>
        <input type="text" placeholder="e.g.- 410-974-3901-">
        </aside>
        <aside class="form-1">
          <label>Email*</label>
          <input type="text" placeholder="e.g.-info@sunteckreality.com-">
        </aside>
    </aside>
    </aside>        
    
    <aside class="button">
        <aside class="button-1">
         <aside class="last-icon">
          
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        
            <h2 class="icon-text">Seller have a company</h2>
        </aside>
      </aside>
        <aside class="button-2">
           <button  class="but-2">Save & Continue</button>
        </aside>
    </aside>
    
    </aside> 
    
    </aside>
    </header>
