<header class="main">
<aside class="main-content">
    <aside class="content">
        <aside class="heading">
          <h3 class="ad">Create new Seller |</h3>
          <p class="head-para">Individual Seller</p>
    </aside>
         <aside class="head-icon">
            <span class="material-icons-outlined h">
                close
                </span>
         </aside> 
       

    </aside>

 <aside class="main-box">
    <aside class="content2">
      <aside class="Company">
         <h2 class="Company-head">Company Details</h2>
        </aside>
        <aside class="Company-month">
         <h1 class="month">STEP 2 OF 4</h1>
        </aside>
    </aside>

  <aside class="icon-main-box">
  <aside class="drag-pic">
    <h3 class="logo">Upload Company Logo</h3>
  <aside class="icon-background">
<aside class="k">


   <span class="material-icons-outlined Company-log">
        drive_folder_upload
        </span>
</aside>
    </aside> 
  
    <aside class="box-line">
        <p class="box-word">Drag & Drope or Browse </p>
   </aside>
   <p class="max">Max 1MB </p>
  </aside>
  
  </aside>



<aside class="form">
<aside class="form1-group">
<aside class="form-1">
    <label>Company Name*</label>
    <input type="text" placeholder="e.g.- Sunteck Realty Ltd-">
  </aside>
<aside class="form-1">
     <label>Company Email*</label>
    <input type="text" placeholder="e.g.-info@sunteckreality.com-"> 
 </aside>
</aside>

<aside class="form1-group">
  <aside class="form-1">
    <label>Phone Number*</label>
    <input type="text" placeholder="e.g.- 410-974-3901-">
    </aside>
    <aside class="form-1">
    <label>Company URL*</label>
    <input type="text" placeholder="e.g.-www.sunteckreality.com-">
  </aside> 
</aside>
</aside>        

<aside class="button">
    <aside class="button-1">
        <button class="but-1" routerLink="/back">Back</button>
    </aside>
    <aside class="button-2">
       <button  class="but-2">Save & Continue</button>
    </aside>
</aside>

</aside> 

</aside>
</header>